.navbar-main {
  display: flex;
  flex-direction: row;
  height: 75px;
}
.navbar-name-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
}
.navbar-cdg {
  margin-right: 3px;
  font-size: 75px;
  color: red;
}
.navbar-description-container {
  display: flex;
  flex-direction: column;
}
.navbar-bottom-container {
  display: flex;
  flex-direction: row;
}
