.philosophy-main-text-container {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  border: .5px solid black;
  width: 300px;
  position: absolute;
  background-color: #8080805c;
  color: #00000061;
}
.philosophy-main-text-container:hover {
  background-color: #808080;
  color: black;
}
.philosophy-left-container {
  top: 15%;
  left: 60%;
}

.philosophy-right-container {
  top: 12%;
  left: 30%;
}

.philosophy-right-bottom-container {
  top: 30%;
  left: 45%;
}
