.philosophy-main-text-container {
  display: flex;
  box-sizing: border-box;
  width: 300px;
  padding: 5px;
  position: absolute;
  color: #00000061;
  justify-content: flex-start;
}
.philosophy-main-text-container:hover {
  background-color: #808080;
  color: black;
}
.philosophy-left-container {
  top: 15%;
  left: 60%;
}

.philosophy-right-container {
  top: 12%;
  left: 30%;
}

.philosophy-right-bottom-container {
  top: 30%;
  left: 45%;
}

.philosophy-text-square {
  width: 5%;
  background-color: red;
  height: 10px;
}

.philosophy-text-line {
  border-left: .5px solid black;
}

.philosophy-text-text {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin-left: 4px;
}
