.portfolio-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.portfolio-modal-content {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.portfolio-modal-navigation {

}
.portfolio-modal-project-container {

}
.portfolio-modal-close-div {

}
.portfolio-collapsed-main-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 150px;
}
.portfolio-collapsed-image {
  height: 80%;
  width: auto;
}
.portfolio-collapsed-src {
  height: 100%;
  width: auto;
}
.portfolio-collapsed-description {
  height: 20%;
  width: auto;
}
