.portfolio-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.portfolio-modal-content {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.portfolio-modal-navigation {
  margin-bottom: 25px;
}
.portfolio-modal-navigation-button {
  margin-right:5px;
  font-size: 20px;
}
.portfolio-modal-navigation-active {
  color: red;
}
.portfolio-modal-project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio-modal-close-div {

}
.portfolio-collapsed-main-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 33%;
}
.portfolio-collapsed-image {
  height: 80%;
  width: auto;
}
.portfolio-collapsed-src {
  height: 100%;
  width: auto;
}
.portfolio-collapsed-description {
  height: 20%;
  width: auto;
}
.portfolio-commercial-button {
  top: 140px;
}
.portfolio-residential-button {
  top: 180px;
}
.portfolio-institutional-button {
  top: 220px;
}
.portfolio-home-button {
  top: 260px;
}
